*{
	margin: 0;
	padding:0;
}

.parallax {
  /* The image used */
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text{
	height:200px;
	font-size:36px;
	text-align: center;
	padding-top: 80px;
	background-color: #282E34;
	color: white;
}


.parallax1 {
  /* The image used */
  background-image: url("https://www.w3schools.com/howto/img_parallax2.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url("https://www.w3schools.com/howto/img_parallax3.jpg");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
	position: absolute;
	font-weight: bold;
    border:none;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
	background-color: #282E34;
    margin-top: 300px;
    margin-left: 700px;
    border-radius: 20px;
    text-transform: uppercase;
}